{{ define "main" }}



<!-- banner -->
{{ with site.Data.homepage.banner }}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h1 data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="500" class="mb-3">{{ .title | markdownify }}</h1>
        <p data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="1200" class="mb-4">{{ .content | markdownify }}</p>
        <br>
        <br>
        {{ if .button.enable }}
        {{ with .button }}
        <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="1800"><a href="{{ .link | safeURL }}" class="btn btn-primary">{{ .label }}</a></div>
        {{ end }}
        {{ end }}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <iframe data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="500" id="chomsphotu" width="720" height="420" src="{{ .image | absURL }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /banner -->



<!-- feature -->
{{ if site.Data.homepage.feature.enable }}
{{ with site.Data.homepage.feature }}
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="500" class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .feature_item }}
      <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="1000" class="col-md-4 col-sm-6 mb-4">
        <div class="feature-card text-center">
          <i class="{{.icon}} mb-3"></i>
          <h4 class="mb-2">{{ .name | title }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->



<!-- service -->
{{ if site.Data.homepage.service.enable }}
{{ with site.Data.homepage.service }}
{{ range $i,$p := .service_item }}
{{if modBool $i 2}}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="500" class="section-title">{{ .title | markdownify }}</h2>
        <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="1000"><p>{{ .content | markdownify }}</p></div>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absURL }}" class="btn-link">{{ .label }} <i class="ti-arrow-right"></i></a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <div {{if gt (len .images) 1}}class="slider" {{end}}>
          {{ range .images }}
          <img src="{{ . | absURL }}" class="img-fluid">
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ else }}
<section class="section bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <div {{if gt (len .images) 1}}class="slider" {{end}}>
          {{ range .images }}
          <img src="{{ . | absURL }}" class="img-fluid">
          {{ end }}
        </div>
      </div>
      <div class="col-md-6">
        <h2 data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="500" class="section-title">{{ .title | markdownify }}</h2>
        <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="1000" ><p>{{ .content | markdownify }}</p></div>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absURL }}" class="btn-link">{{ .label }} <i class="ti-arrow-right"></i></a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
<!-- /service -->



<!-- contact -->
{{ if site.Data.homepage.contact.enable }}
{{ with site.Data.homepage.contact }}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="500" class="section-title">{{ .title | markdownify }}</h2>
        <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="1000"><p>{{ .content | markdownify }}</p></div>
        {{ if .button.enable }}
        {{ with .button }}
        <a data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="1000" href="{{ .link | absURL }}" class="btn-link">{{ .label }} <i class="ti-arrow-right"></i></a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-md-6 mb-4 mb-md-0">
        <img id="imgjoin" src="{{ .image | absURL }}" class="img-fluid" style="padding-left: 20%">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- /contact -->



<!-- call to action -->
{{ if site.Data.homepage.call_to_action.enable }}
{{ with site.Data.homepage.call_to_action }}
<section class="section">
  <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="1000" class="mx-auto col-lg-10 col-sm-10" style="background-color: #dff2ff;border-radius: 40px 0px 40px 0px;box-shadow: 0 2px 5px #ccc;">
    <div id="carouselTestimonial" class="carousel carousel-testimonial slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTestimonial" data-slide-to="1"></li>
        <li data-target="#carouselTestimonial" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-4 col-sm-12" style="box-sizing: border-box;padding-top:50px;text-align: center;">
              <img src="{{ .image1 | absURL }}" height="200px" width="200px" class="rounded-circle">
            </div>
            <div class="col-lg-8 col-sm-12" style="padding: 75px 20px;position: relative;box-sizing: border-box;font-size: 1.2em;">
              <br>
              {{ .content1 | markdownify }}
              <img src="{{ .qt | absURL}}" height="50px" width="80px" style="position: absolute;top:20px;left:10px;">
              <img src="{{ .qb | absURL}}" height="50px" width="80px" style="position: absolute;bottom:150px;right:10px;">
              <p style="padding:25px 5px; text-align: right;font-weight: bold;">
                <br>
                <br>
                {{ .names1 | markdownify }}
              </p>
            </div>
          </div>  
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-sm-12" style="box-sizing: border-box;padding-top:50px;text-align: center;">
              <img src="{{ .image2 | absURL }}" height="200px" width="200px" class="rounded-circle">
            </div>
            <div class="col-lg-8 col-sm-12" style="padding: 75px 20px;position: relative;box-sizing: border-box;font-size: 1.2em;">
              <br>
              {{ .content2 | markdownify }}
              <img src="{{ .qt | absURL}}" height="50px" width="80px" style="position: absolute;top:20px;left:10px;">
              <img src="{{ .qb | absURL}}" height="50px" width="80px" style="position: absolute;bottom:150px;right:10px;">
              <p style="padding:25px 5px; text-align: right;font-weight: bold;">
                <br>
                <br>
                {{ .names2 | markdownify }}
              </p>
            </div>
          </div>  
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-sm-12" style="box-sizing: border-box;padding-top:50px;text-align: center;">
              <img src="{{ .image3 | absURL }}" height="200px" width="200px" class="rounded-circle">
            </div>
            <div class="col-lg-8 col-sm-12" style="padding: 75px 20px;position: relative;box-sizing: border-box;font-size: 1.2em;">
              <br>
              {{ .content3 | markdownify }}
              <img src="{{ .qt | absURL}}" height="50px" width="80px" style="position: absolute;top:20px;left:10px;">
              <img src="{{ .qb | absURL}}" height="50px" width="80px" style="position: absolute;bottom:150px;right:10px;">
              <p style="padding:25px 5px; text-align: right;font-weight: bold;">
                <br>
                <br>
                {{ .names3 | markdownify }}
              </p>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->

{{ end }}